/* ===== BODY ===== */
body{
    padding: 0;
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* ====================================== NAVBAR =========================== */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 8%;
  background:rgb(255, 255, 255);
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
  position:sticky;
  top:0;
  z-index:100;
}

/* NAV LINKS */

.nav-link a{
  margin:0 15px;
  text-decoration:none;
  color:#363636;
  font-weight:600;
  transition:.3s;
}

.nav-link a:hover{
  color:#3498db;
}

/* ICONS */

.nav-icons{
  display:flex;
  gap:20px;
  font-size:20px;
  cursor:pointer;
}


/* =============================HAMBURGER HIDE DESKTOP=================================== */

.hamburger{
  display:none;
}

@media(max-width:768px){

  /* Show hamburger */
  .hamburger{
    display:block;
  }

  /* Hide menu */
  .nav-link{
    position:fixed;
    top:0;
    right:-100%;
    width:250px;
    height:100vh;
    background:white;
    display:flex;
    flex-direction:column;
    padding-top:80px;
    transition:.4s;
    box-shadow:-5px 0 20px rgba(0,0,0,0.1);
  }

  /* Menu Open */
  .nav-link.active{
    right:0;
  }

  .nav-link a{
    padding:15px 30px;
    border-bottom:1px solid #eee;
  }

}





/* =====----------------------------- HERO SLIDER =========================== */
/* HERO SLIDER */

.hero-slider{
  position:relative;
  width:100%;
  height:80vh;
  overflow:hidden;
}

.slide{
  width:100%;
  height:80vh;
  background-size:cover;
  background-position:center;
  position:absolute;
  opacity:0;
  transition:.7s;
}

.slide.active{
  opacity:1;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}

.content{
  position:absolute;
  top:50%;
  left:10%;
  transform:translateY(-50%);
  color:white;
  max-width:500px;
}

.content h1{
  font-size:48px;
  margin-bottom:15px;
}

.content p{
  font-size:18px;
  margin-bottom:20px;
}

.btn{
  background:#ff6b00;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  border-radius:6px;
}

.nav{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgba(0,0,0,0.6);
  border:none;
  color:white;
  font-size:30px;
  padding:10px 15px;
  cursor:pointer;
}

.prev{ left:20px; }
.next{ right:20px; }



/* ===== FILTER BUTTONS ===== */
.filters{
    text-align:center;
    padding:20px;
}

.filters button{
    padding:10px 18px;
    margin:5px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.filters button:hover{
    background:#ec5012;
}

.Featured-name {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 18px 50px;
}




/* ===== PRODUCT GRID ===== */
/* GRID */

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 30px;
  padding: 40px 8%;
  background:#f5f6fa;
}


/* CARD */

.card{
  background:#fff;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  transition:.3s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}


/* IMAGE */

.card-img{
  background:#f7f7f7;
  padding:25px;
  text-align:center;
}

.card-img img{
  height:230px;
  width:100%;
  object-fit:contain;
  transition:.3s;
}

.card:hover img{
  transform:scale(1.05);
}


/* BODY */

.card-body{
  padding:20px;
}

.card-body h3{
  font-size:18px;
  font-weight:600;
  color:#2c3e50;
  margin-bottom:15px;
  line-height:1.4;
}


/* PRICE */

.price-box{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:20px;
}

.new-price{
  font-size:28px;
  font-weight:700;
  color:#e74c3c;
}

.old-price{
  font-size:18px;
  color:#95a5a6;
  text-decoration:line-through;
}

.discount{
  background:#eafaf1;
  color:#2ecc71;
  padding:4px 12px;
  border-radius:20px;
  font-size:14px;
  font-weight:600;
}


/* GRID */

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 30px;
  padding: 40px 8%;
  background:#f5f6fa;
}


/* CARD */

.card{
  background:#fff;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  transition:.3s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}


/* IMAGE */

.card-img{
  background:#f7f7f7;
  padding:25px;
  text-align:center;
}

.card-img img{
  height:230px;
  width:100%;
  object-fit:contain;
  transition:.3s;
}

.card:hover img{
  transform:scale(1.05);
}


/* BODY */

.card-body{
  padding:20px;
}

.card-body h3{
  font-size:18px;
  font-weight:600;
  color:#2c3e50;
  margin-bottom:15px;
  line-height:1.4;
}


/* PRICE */

.price-box{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:20px;
}

.new-price{
  font-size:28px;
  font-weight:700;
  color:#e74c3c;
}

.old-price{
  font-size:18px;
  color:#95a5a6;
  text-decoration:line-through;
}

.discount{
  background:#eafaf1;
  color:#2ecc71;
  padding:4px 12px;
  border-radius:20px;
  font-size:14px;
  font-weight:600;
}


/* BUTTON */

.cart-btn{
  width:100%;
  padding:15px;
  border:none;
  background:#3498db;
  color:white;
  font-size:17px;
  border-radius:8px;
  transition:.3s;
}

.cart-btn:hover{
  background:#2980b9;
}

/* BUTTON */

.cart-btn{
  width:100%;
  padding:15px;
  border:none;
  background:#3498db;
  color:white;
  font-size:17px;
  border-radius:8px;
  transition:.3s;
}

.cart-btn:hover{
  background:#2980b9;
}




@media(max-width:768px){

  .product-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .card-img img{
    height:200px;
  }

}














































/* ===== PRODUCT CARD ===== */

.product-card{
  display:flex;
  gap:40px;
  padding:60px 8%;
  align-items:center;
}

.product-image{
  flex:1;
  background:#f7f7f7;
  padding:40px;
  border-radius:16px;
}

.product-image img{
  width:100%;
  height:350px;
  object-fit:contain;
}

.product-info{
  flex:1;
}

.product-info h2{
  font-size:28px;
  margin-bottom:15px;
}

.product-info .price{
  font-size:26px;
  color:#e74c3c;
  font-weight:bold;
  margin-bottom:10px;
}

.description{
  margin:20px 0;
  color:#555;
}

.add-cart{
  padding:15px 30px;
  border:none;
  background:#3498db;
  color:white;
  border-radius:8px;
  font-size:18px;
}

/* Responsive */

@media(max-width:768px){

    .product-card{
        flex-direction: column;
        text-align: center;
    }

    .product-image img{
        width: 250px;
        height: 250px;
    }

}












/* <!--------------------footer---------------------> */

.footer {
  background: #222;
  color: #aaa;
  padding: 70px 15px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}


.footer-col p {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col  p:hover {
  color: #007bff;
}

.footer-col p {
  line-height: 1.7;
  font-size: 14px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.social-icons i {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #007bff;
}

/*            Newsletter            */

.footer-col input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  padding: 8px 0;
  color: #fff;
  margin-bottom: 15px;
}

.subscribe-btn {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background: #6c7ae0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background: #007bff;
}

/*               Bottom              */

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
}

.footer-bottom span {
  color: #007bff;
  cursor: pointer;
}

/*              Responsive               */

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .load-more-wrapper {
    margin: 50px 0;
  }
}












/* <------------------------------------about---------------------------------> */

.about{
padding: 60px 8%;
}

.about-container{
display: flex;
align-items: center;
justify-content: space-between;
gap: 50px;
}

/* LEFT TEXT */
.about-text{
flex: 1;
}

.about-text h2{
margin-bottom: 20px;
font-size: 32px;
}

.about-text p{
margin-bottom: 15px;
line-height: 1.6;
color: #555;
}

/* RIGHT IMAGE */
.about-image{
flex: 1;
text-align: right;
overflow: hidden;
}

.about-image img{
width: 100%;
max-width: 450px;
transition: 0.4s;
}

/* Hover Zoom */
.about-image img:hover{
transform: scale(1.05);
}




/* <!--------------------contact----------------> */

.contact{
padding:60px 8%;
background:#fafafa;
}

.contact-container{
display:flex;
gap:40px;
border:1px solid #eee;
padding:40px;
background:white;
}

/* LEFT FORM */

.contact-form{
flex:1;
}

.contact-form h2{
margin-bottom:20px;
font-weight:600;
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:15px;
margin-bottom:20px;
border:1px solid #ddd;
outline:none;
}

.contact-form textarea{
height:150px;
resize:none;
}

.contact-form button{
width:100%;
padding:15px;
border:none;
background:#222;
color:white;
border-radius:30px;
cursor:pointer;
transition:0.3s;
}

.contact-form button:hover{
background:black;
}

/* RIGHT INFO */

.contact-info{
flex:1;
padding-left:40px;
border-left:1px solid #eee;
}

.info-box{
display:flex;
gap:20px;
margin-bottom:35px;
}

.info-box i{
font-size:20px;
margin-top:5px;
}

.info-box h4{
margin-bottom:5px;
}

.blue{
color:#3b82f6;
cursor:pointer;
}






  /* --------------------Featured Brands - NEW-------------------------- */


  .section-title {
    text-align: center;
    font-weight: 800;
  }
        .brands-section {
            margin: 40px 0;
            padding: 0 5px;
        }
        
        .brands-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }
        
        .brand-card {
            background: white;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
            transition: all 0.3s;
            height: 120px;
        }
        
        .brand-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }
        
        .brand-logo {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        
        .brand-logo img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
        
        .brand-name {
            font-weight: 600;
            color: #2c3e50;
            font-size: 14px;
            text-align: center;
        }
